*{
  margin: 0;
  padding: 0;
  transition: all 1s ease
}

body{
  font-family:'Tektur', sans-serif;
}

.eduContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    /* background-color: bisque; */
    width: 100%;
    align-items: center;
  }

  .building{
    /* background-color: rgba(255, 0, 0, 0.305); */
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    box-shadow: 1px 4px 4px 4px rgba(64, 64, 64, 0.247);
    min-height: 48px;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
  }
  .building h2{
    text-align: center;
    color: rgb(194, 129, 8);
    font-size: 18px;
    font-weight: 500;
    padding-top: 7px;
  }
  .building h1{
    text-align: center;
    color: azure;
    width: 100%;
    background-color: orange;
    box-shadow: 5px 5px 5px 5px rgba(105, 56, 0, 0.17) inset;
    border-radius: 55px;
    padding: 8px 16px;
  }
  .building p{
    text-align: right;
    color: orange;
  }
  .completedYear{
    margin-left: 2rem;
    margin-right: 1.5rem;
    opacity: 0;
    transition: opacity 1.5s ease-out;
  }

  .building:hover .completedYear{
    cursor: pointer;
    opacity: 1;
  }

/*   
  .vl {
    border-left: 3px solid green;
    border-right: 3px solid green;
    width: 10px;
    height: 760px;
    left: 50%;
    margin-left: -3px;
    top: 0;
  } */
  
  .eduContainer .leftDiv, .rightDiv{
    width: 50%;
    padding: 4rem 6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    gap: 50px;
  }
  